@page "/order"
@using CafeStoreManagement.Features;
@using CafeStoreWeb.Data;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService sessionStorage;
@inject NavigationManager Navigation;
@inject DialogService DialogService
@inject NotificationService NotificationService

<div id="create-outlets" class="d-flex justify-content-between" style="background-color:indigo; padding:12px;height:60px;">
    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H1" Class="my-2" Style="color:white">
        MENU
    </RadzenText>
    <div></div>
    <RadzenTextBox @bind-Value=searchItem Placeholder="Search Item" @oninput=@(args => OnChange(args.Value.ToString(), "TextBox with change on every input"))/>
</div>

<div>
    @if(items is null)
    {
        <span class="spinner-border spinner-border-md centered" role="status" aria-hidden="true"></span>
    }
    else
    {
        <div class="split-screen" style="padding:12px" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="left-panel row " style="padding:12px">
                @if (String.IsNullOrEmpty(searchItem))
                {
                    @foreach (var item in items)
                    {
                        <RadzenCard Class="rz-my-12 rz-mx-auto m-2" Style="max-width: 220px;max-height:320px">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-2">
                                    <RadzenImage Path="@item?.Photo" Style="width: 100px; height: 100px; border-radius: 50%;" />
                            <RadzenStack Gap="0">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0"><b>@(item?.Name)</b></RadzenText>
                            </RadzenStack>
                            </RadzenStack>
                            <RadzenStack Gap="1.5rem">
                            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Info" Style="float:right" Text="Order"
                                  Click=@(arg=>OrderAction(item!)) />
                            </RadzenStack>
                        </RadzenCard>                
                    }
                }
                else
                {
                    @if (itemTemp.Count==0)
                    {
                        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H6">Data Not Found</RadzenText>
                    }
                    else
                    {
                        @foreach (var item in itemTemp)
                        {
                            <RadzenCard Class="rz-my-12 rz-mx-auto m-2" Style="max-width: 220px;max-height:320px">
                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-2">
                                        <RadzenImage Path="@item?.Photo" Style="width: 100px; height: 100px; border-radius: 50%;" />
                                <RadzenStack Gap="0">
                                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0"><b>@(item?.Name)</b></RadzenText>
                                </RadzenStack>
                                </RadzenStack>
                                <RadzenStack Gap="1.5rem">
                                    <RadzenButton Click=@(arg=>OrderAction(item!)) Variant="Variant.Text" ButtonStyle="ButtonStyle.Info" Style="float:right" Text="Order" />
                                </RadzenStack>
                            </RadzenCard>                
                        }
                    }
                    
                }
                
            </div>
            <div class="right-panel">
                <div id="create-outlets" class="d-flex justify-content-between" style="background-color:indigo; padding:12px;height:60px;">
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H1" Class="my-2" Style="color:white" TextAlign="TextAlign.Center">
                        CHECK OUT
                    </RadzenText>
                    <div></div>
                    <div></div>
                </div>
                <div style="padding:12px">
                    <table>
                        <tr>
                            <th><RadzenText Style="color:white">Name</RadzenText></th>
                            <th><RadzenText Style="color:white">Qty</RadzenText></th>
                            <th><RadzenText Style="color:white">Size</RadzenText></th>
                            <th><RadzenText Style="color:white">Price</RadzenText></th>
                            <th><RadzenText Style="color:white">Amount</RadzenText></th>
                            <th><RadzenText Style="color:white">Remove</RadzenText></th>
                        </tr>
                        @if(OrderModels is not null)
                        {
                            @foreach (var item in OrderModels)
                            {
                                <tr>
                                    <td><RadzenText>@itemModels.Where(e=>e.Id==item.ItemId).Select(e=>e.Name).FirstOrDefault()</RadzenText></td>
                                    <td><RadzenText>@item.Qty</RadzenText></td>
                                    <td><RadzenText>@sizeModels.Where(e=>e.Id==item.SizeId).Select(e=>e.Name).FirstOrDefault()</RadzenText></td>
                                    <td><RadzenText>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", item.UnitPrice)</RadzenText></td>
                                    <td><RadzenText>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", item.Amount)</RadzenText></td>
                                    <td> <RadzenButton Variant="Variant.Flat" Shade="Shade.Lighter" Icon="highlight_off" ButtonStyle="ButtonStyle.Danger"
                                          Click=@(args => RemoveItemAddToCart(item)) />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5"><RadzenText>Total:</RadzenText></td>
                                <td><RadzenText>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", OrderModels.Sum(e=>e.Amount))</RadzenText></td>
                            </tr>
                        }
                    </table>
                </div>
                <div style="padding:12px ;float:right">
                    <RadzenButton Variant="Variant.Flat" Shade="Shade.Lighter" Icon="add_shopping_cart" Text="PURCHASE" ButtonStyle="ButtonStyle.Primary"
                              Click=@(args => Purchasing(OrderModels,(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Sucessfully...", Detail = "Your Order is completed", Duration = 4000 }))) />
                </div>
            </div>
        </div>

    }
</div>
   
@code {

    string? searchItem;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetItemDetailsAsync();
            await Sizes();
            await Items();
        }
        StateHasChanged();

    }
    void OnChange(string value, string name)
    {
        Console.WriteLine($"{name} value changed to {value}");
        if (!String.IsNullOrEmpty(value))
        {
            itemTemp = items.Where(e => e.Name.ToLower().Contains(value.ToLower())).ToList();
        }
    }
    async Task OrderAction(ItemResponse item)
    {

        await DialogService.OpenAsync<DialogCardPage>($"{item.Name}",
               new Dictionary<string, object>() { { "ChildValue", item }, { "Token", token } },
               new DialogOptions() { Width = "700px", Height = "400px", Resizable = true});
    }
    async Task RemoveItemAddToCart(ReceiptModel item)
    {
        OrderModels.Remove(item);
    }
}
