@page "/dashboard"

@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService sessionStorage;
@inject NavigationManager Navigation;
@inject DialogService DialogService
@inject NotificationService NotificationService

@using System.Globalization
<div style="padding-right:12px;">
    <RadzenCard Class=" rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding));margin-top:unset; padding: 2rem;">
        <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Item Popular </strong></RadzenText>
        <div class="row">
            @foreach (var item in ListItemPopulars)
            {
                <div class="col-md-3 col-xl-3">
                    <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light d-flex mt-3 mb-0">@item.ToUpper()</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-danger-light"><b>@item</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-danger-light"><b>@item</b></RadzenText>
                </div>
            }
        </div>
    </RadzenCard>
    <div class="my-3 d-flex justify-content-around">
        @foreach(var outlet in ListOutlets)
        {
            <RadzenCard Class="col-md-3 col-xl-3 col-lg-3  rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="padding: 2rem;width: 24%">
                <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>@outlet.OutletName</strong></RadzenText>
                <RadzenText TextStyle="TextStyle.H5" Class="rz-color-danger-light"><b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", outlet.RevenuePerYear)</b></RadzenText>
                <div class="text-end">
                    <RadzenButton Class="rz-color-primary-light" Variant="Variant.Text" Text="See more"
                              Click=@(args => SeeMore(outlet.OutletId)) />
                </div>
            </RadzenCard>
        }
    </div>
    <RadzenCard Class="my-3 rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem;">
        <div class="container">
            <div class="row my-5">
                <div class="col-sm-12 col-lg-8">
                    <RadzenChart ColorScheme="@colorScheme">
                        @for (var year = 2013; year <= 2020; year++)
                        {
                            var currentYearRevenue = revenue.Where(r => r.Year == year).ToList();
                            <RadzenColumnSeries Data="@currentYearRevenue" CategoryProperty="Quarter" Title="@year.ToString()" ValueProperty="Revenue" />
                        }
                        <RadzenColumnOptions Margin="0" />
                        <RadzenValueAxis Formatter="@FormatAsUSD" />
                    </RadzenChart>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <RadzenChart ColorScheme="@colorScheme">
                        <RadzenPieSeries Data="@revenue.Where(r => r.Year == 2020)" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue" />
                    </RadzenChart>
                </div>
            </div>
            
        </div>
    </RadzenCard>
</div>
@code {
    ColorScheme colorScheme = ColorScheme.Palette;

    class DataItem
    {
        public int Year { get; set; }
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    IList<DataItem> revenue = new List<DataItem>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RevenueOutlets();
            var random = new Random();

            for (var year = 2013; year <= 2020; year++)
            {
                foreach (var item in ListOutlets)
                {
                    revenue.Add(new DataItem
                        {
                            Year = year,
                            Quarter = item!.OutletName,
                            Revenue = random.NextDouble() * 200000
                        });
                }
            }
        }
        StateHasChanged();
    }
    async Task SeeMore(Guid outletId)
    {
        Navigation.NavigateTo("/report/receipt");
    }
}